<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
    <!-- <a class="navbar-brand" href="index.html"><span class="flaticon-lotus"></span>Yogalax</a> -->
    <a class="navbar-brand" href="/index.html"><span class="icon2-cheval"></span>{{ site.title }}</a>
    <!-- <a class="navbar-brand" href="index.html"><img height="50" class="cheval" style="margin-top: 20px; margin-bottom:20px" src="/assets/images/logo-2.svg"></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          {% for item in site.menus.header %}
          <li class="nav-item active"><a href="{{ item.url }}" class="nav-link">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      </div>
  </nav>