<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Tableaux de Tariffs</h3>
        <h2 class="mb-1">Nos services</h2>
      </div>
    </div>
    <div class="row">
      {% assign all_products = site.tariffs | sort: 'ordre' %}
      {% for tariff in all_products %}
          {% include tariff/tariff.html %}
      {% endfor %}
    </div>
  </div>
</section>