<div class="col-md-4 ftco-animate">
    <div class="block-7">
      <div class="text-center">
      <h2 class="heading">{{ tariff.nom }}</h2>
      <span class="price"><sup>&#8364;</sup> <span class="number">{{ tariff.prix }}</span></span>
      <span class="excerpt d-block">par {{ tariff.unite }}</span>
      
      <h3 class="heading-2 my-4">{{ tariff.titre }}</h3>
      
      <div class="pricing-text mb-5" >
        {{  tariff.content }}
      </div>

      <a href="#" class="btn btn-primary d-block px-2 py-4">Inscrivez-vous</a>
      </div>
    </div>
  </div>