---
layout: default
---

{%- include headline.html -%}


<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {%- for post in paginator.posts -%}
      <div class="col-md-4 d-flex ftco-animate">
        {%- include post-item.html -%}
      </div>

      {%- endfor -%}
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            {%- if paginator.previous_page_path -%}
            <li><a href="{{ paginator.previous_page_path }}">&lt;</a></li>
            {%- endif -%}
            {%- for page in (1..paginator.total_pages) -%}
            {%- if paginator.page == page  -%}
            <li class="active"><span>{{ page }}</span></li>
            {%- elsif page == 1 -%}
            <li><a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></li>
            {%- else -%}
            <li><a href="{{  paginator.next_page_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
            {%- endif -%}
            {%- endfor -%}
            {%- if paginator.next_page_path -%}
            <li><a href="{{ paginator.next_page_path}}">&gt;</a></li>
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>