---
layout: default
---

<section class="hero-wrap js-fullheight" style="background-image: url('assets/images/discuss.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">Yoga Classes</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Classes</span></p>
        </div>
      </div>
    </div>
  </section>
      

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-12 heading-section ftco-animate text-center">
          <h3 class="subheading">Yoga Classes</h3>
          <h2 class="mb-1">Choose Your Level &amp; Focus</h2>
        </div>
      </div>
      <div class="row no-gutters">
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-1.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Group Lessons</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-2.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Yoga For Beginners</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-3.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Yoga For Pregnant</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-4.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Yoga For Couples</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-5.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Bikram Yoga</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(assets/images/program-6.jpg);">
                      <div class="text p-5 text-center">
                          <h3>Yoga Barre</h3>
                          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
        </div>
    </section>


  
      <section class="ftco-gallery ftco-section">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h3 class="subheading">Gallery</h3>
          <h2 class="mb-1">See the latest photos</h2>
        </div>
      </div>
          <div class="row">
                  <div class="col-md-3 ftco-animate">
                      <a href="assets/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-1.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="assets/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-2.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="assets/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-3.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="assets/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-4.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
      </div>
      </div>
  </section>