---
layout: default
---

<section class="hero-wrap js-fullheight" style="background-image: url('assets/images/pro-2.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
      <div class="col-md-8 ftco-animate">
        <h1 class="typewrite mb-3" data-period="4000" data-type='[ "Gros titre 1.", "Gros titre 2.", "Gros titre 3."]'>
          <span class="wrap"></span>
        </h1>
        <h2 class="mb-5">Sous-titre</h2>
        <p><a href="#" class="btn btn-primary p-3 px-4">Commencer!</a></p>
      </div>
    </div>
  </div>
</section>

{%- include services/services.html -%}

{%- include tariff/tariffs.html -%}

{%- include temoignage/temoignages.html -%}

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Blog</h3>
        <h2 class="mb-1">Recent Posts</h2>
      </div>
    </div>
    <div class="row d-flex">
      {%- for post in site.posts limit: 3 -%}

      <div class="col-md-4 d-flex ftco-animate">
        {%- include post-item.html -%}
      </div>

      {%- endfor -%}
    </div>
  </div>
</section>